{% extends 'bootstrap_4.html.twig' %}

{% block title %}{{ parent() }}Error 404{% endblock %}


    {% block menuhaut %}
        {{ include('home/_menu.html.twig') }}
    {% endblock %}
    {% block content %}
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <h1 class="mt-5">Error 404</h1>
                <hr>
                {% block subcontent %}

                    <h3>{{ errormessage }}</h3>

                    <hr>

                {% endblock %}
            </div>
        </main>
    {% endblock %}
