{% extends 'bootstrap_4.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block content %}
    {% block menuhaut %}{% endblock %}
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Home</h1>
            <hr>

        </div>
    </main>
{% endblock %}
